<!-- header-top goes here -->

<!-- title tags go here for each page -->

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!-- desktop nav config below -->
  <% if (currentUser) { %>
  <ul id="profile-dropdown" class="dropdown-content">
      <li><a href="/users/<%= currentUser.id %>/music"><i class="prefix vertical-align material-icons">music_note</i>music</a></li>
      <li><a href="/users/<%= currentUser.id %>/movies"><i class="material-icons">local_movies</i>movies</a></li>
      <li><a href="/users/<%= currentUser.id %>/tv"><i class="material-icons">live_tv</i>tv</a></li>
      <li><a href="/users/<%= currentUser.id %>/games"><i class="material-icons">videogame_asset</i>games</a></li>
  </ul>
  <% }; %>

<ul id="nav-dropdown" class="dropdown-content">
  <% if(currentUser) { %>
    <li><a href="/">Home page</a></li>
    <li><a href="/users/<%= currentUser.id %>/profile">Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  <% } else { %>
    <li><a href="/">Home page</a></li>
    <li><a href="/auth/login">Login page</a></li>
    <li><a href="/auth/signup">Signup page</a></li>
  <% } %>
</ul>

<div class="navbar-fixed hide-on-med-and-down">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        <div class="nav-h1-landing-wrapper">
          <div class="nav-backing-box"></div>
          <div class="nav-blue-box"></div>
          <div class="nav-top-right-box"></div>
          <div class="nav-bottom-left-box"></div>
          <h1 class="nav-h1-landing-yo">yo!</h1>
          <h1 class="nav-h1-landing-favo">favo</h1>
        </div>
      </a>
      <ul class="right">
        <li>
          <div class="center row">
            <div class="col s12 pull-s4">
              <div class="row" id="topbarsearch">
                <div id="nav-search" class="input-field col s6 s12">
                  <form action="/favos/:name" method="get">
                    <i class="material-icons prefix">search</i>
                    <input class="nav-search-input" type="text" name="search_name" placeholder="search music, movies, tv shows, games...">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </li>
        <% if (currentUser) { %>
          <li><a class="dropdown-button" href="#!" data-hover="true" data-beloworigin="true" data-activates="profile-dropdown">yo! <%= currentUser.first_name %><i class="material-icons right">arrow_drop_down</i></a></li>
        <% }; %>
        <li><a class="dropdown-button" href="#!" data-hover="true" data-beloworigin="true" data-activates="nav-dropdown">menu<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- for mobile nav config below -->
<div class="darken-body"></div>

<div class="mobile-nav-wrapper">
  <nav class="hide-on-large-only">
    <div class="nav-wrapper z-depth-2">
      <a href="/" class="brand-logo-mobile">
        <div class="nav-h1-landing-wrapper">
          <div class="nav-backing-box"></div>
          <div class="nav-blue-box"></div>
          <div class="nav-top-right-box"></div>
          <div class="nav-bottom-left-box"></div>
          <h1 class="nav-h1-landing-yo">yo!</h1>
          <h1 class="nav-h1-landing-favo">favo</h1>
        </div>
      </a>
      <a href="#" data-activates="nav-mobile" class="right button-collapse"><i class=" navbar-icons material-icons">menu</i></a>
      <div class="row">
        <div class="col s7 offset-s3">
          <ul class="center">
          <a class="center-align" id="mobile-search-trigger"><i class="navbar-icons material-icons prefix">search</i></a>
          <div class="right" id="mobile-search-drop">
           <form action="/favos/:name" method="get">
             <input type="text" name="search_name" placeholder="search music, movies, tv shows, games...">
           </form>
         </div>
        </div>
      </div>
      <ul class="side-nav" id="nav-mobile">
        <% if(currentUser) { %>
          <li><a href="/">Home page</a></li>
          <li><a href="/users/<%= currentUser.id %>/profile">Profile</a></li>
          <li><a href="/users/<%= currentUser.id %>/music"><i class="prefix vertical-align material-icons">music_note</i>music</a></li>
          <li><a href="/users/<%= currentUser.id %>/movies"><i class="material-icons">local_movies</i>movies</a></li>
          <li><a href="/users/<%= currentUser.id %>/tv"><i class="material-icons">live_tv</i>tv</a></li>
          <li><a href="/users/<%= currentUser.id %>/games"><i class="material-icons">videogame_asset</i>games</a></li>

          <li><a href="/auth/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/">Home page</a></li>
          <li><a href="/auth/login">Login page</a></li>
          <li><a href="/auth/signup">Signup page</a></li>
        <% }; %>
      </ul>
    </div>
  </nav>
</div>
