<% include ../partials/header-top %>

<title>yo! favo | <%= currentUser.first_name %>'s profile page</title>

<% include ../partials/header-bottom %>

<% include ../partials/profile-top %>

<!-- body content goes below here -->

<div class="row">
  <div class="col s12 l3 offset-l1">
    <div class="row">
      <div class="col s12 center-align">
        <i class="fas user-pic fa-user-circle"></i>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <a class="edit-link" href="/users/<%= currentUser.id %>/update">edit yo! profile</a>
      </div>
    </div>
  </div>
  <div class="col s12 l6 offset-l2">
    <div class="row">
      <div class="col s12 l10 center-align">
        <h3 class="category-name">yo! top music</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s10 offset-s1 pull-l1">
        <div class="sortable-wrapper">
          <ul id="sortable">
            <% favos.forEach(function(favo) { %>
              <% if (favo.type === 'music') { %>
                <li id="<%= favo.id %>" class="music-li flow-text ui-state-default">
                  <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                  <a href="/favos/<%= favo.name %>"><%= favo.name %></a>
                  <a class='delete-link' data-type="<%= favo.type %>" href="/users/<%= currentUser.id %>/favos/<%= favo.id %>"><i class="right material-icons">close</i></a>
                </li>
              <% }; %>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- body content goes above here  -->

<% include ../partials/footer-content %>

<% include ../partials/footer %>
