<% include ../partials/header-top %>

<title>yo! favo | <%= user.first_name %>'s profile page</title>

<% include ../partials/header-bottom %>

<% include ../partials/profile-top %>

<!-- body content goes below here -->


<div class="row">
  <div class="col s12 l5 offset-l1 test-img-col">
    <p>img goes here</p>
  </div>
  <div class="col s12 l6">
    <div class="row">
      <div class="col s8 offset-s2">
        <a href="/users/<%= currentUser.id %>/music">yo! music</a>
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2">
        <a href="/users/<%= currentUser.id %>/movies">yo! movies</a>
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2">
        <a href="/users/<%= currentUser.id %>/tv">yo! tv</a>
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2">
        <a href="/users/<%= currentUser.id %>/games">yo! games</a>
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2">
        <a href="/users/<%= currentUser.id %>/top">yo! top list</a>
      </div>
    </div>
  </div>
</div>


<!-- body content goes above here  -->

<% include ../partials/footer-content %>

<% include ../partials/footer %>
