<% include ../partials/header-top %>

<title>yo! favo | <%= currentUser.first_name %>'s profile page</title>

<% include ../partials/header-bottom %>

<% include ../partials/profile-top %>

<!-- body content goes below here -->

<div class="row">
  <div class="col s12 l3 offset-l1 test-img-col">
    <div class="row">
      <div class="col s12 center-align">
        <i class="fas user-pic fa-user-circle"></i>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <a class="edit-link" href="/users/<%= currentUser.id %>/update">edit yo! profile</a>
      </div>
    </div>
  </div>
  <div class="col s12 l8">
    <div class="row">
      <div class="col s12 center-align">
        <h3 class="top-list-h4">yo! top list</h3>
      </div>
      <div class="row">
        <div class="col s12">
          <!-- DESKTOP FAVOS -->
          <div class="row hide-on-med-only hide-on-small-only">
            <div class="col l12 top-favo-box-wrapper">
              <div class="row top-favo-box-row">
                <div class="col l6 center-align top-favo-box">
                  <% topFavos[0].forEach(function(favo) { %>
                    <% if (favo.type === 'music') { %>
                      <div class="top-favo-desktop top-<%= favo.type %>">
                        <h5 class="top-favo-desktop-name"><a href="/favos/<%= favo.name %>"><%= favo.name %></a></h5>
                        <p><%= favo.type %></p>
                      </div>
                    <% }; %>
                  <% }); %>
                </div>
                <div class="col l6 center-align top-favo-box">
                  <% topFavos[0].forEach(function(favo) { %>
                    <% if (favo.type === 'movie') { %>
                      <div class="top-favo-desktop top-<%= favo.type %>">
                        <h5 class="top-favo-desktop-name"><a href="/favos/<%= favo.name %>"><%= favo.name %></a></h5>
                        <p><%= favo.type %></p>
                      </div>
                    <% }; %>
                  <% }); %>
                </div>
              </div>
              <div class="row top-favo-box-row">
                <div class="col l6 center-align top-favo-box">
                  <% topFavos[0].forEach(function(favo) { %>
                    <% if (favo.type === 'show') { %>
                      <div class="top-favo-desktop top-<%= favo.type %>">
                        <h5 class="top-favo-desktop-name"><a href="/favos/<%= favo.name %>"><%= favo.name %></a></h5>
                        <p><%= favo.type %></p>
                      </div>
                    <% }; %>
                  <% }); %>
                </div>
                <div class="col l6 center-align top-favo-box">
                  <% topFavos[0].forEach(function(favo) { %>
                    <% if (favo.type === 'game') { %>
                      <div class="top-favo-desktop top-<%= favo.type %>">
                        <h5 class="top-favo-desktop-name"><a href="/favos/<%= favo.name %>"><%= favo.name %></a></h5>
                        <p><%= favo.type %></p>
                      </div>
                    <% }; %>
                  <% }); %>
                </div>
              </div>
            </div>
          </div>
          <!-- MOBILE FAVOS -->
          <div class="mobile-top-wrapper hide-on-large-only">
            <% topFavos[0].forEach(function(favo) { %>
              <div class="row hide-on-large-only">
                <div class="col s12 center-align">
                  <div class="top-favo-mobile top-<%= favo.type %>-mobile">
                    <div class="row">
                      <div class="col s12">
                        <h4><a class="top-favo-mobile-name" href="/favos/<%= favo.name %>"><%= favo.name %></a></h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12">
                        <p class="top-favo-mobile-type"><%= favo.type %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- body content goes above here  -->

<% include ../partials/footer-content %>

<% include ../partials/footer %>
