<% include ../partials/header-top %>

<title>yo! favo | <%= currentUser.first_name %>'s profile page</title>

<% include ../partials/header-bottom %>

<% include ../partials/profile-top %>

<!-- body content goes below here -->

top.ejs

<div class="row">
  <div class="col s12 l5 offset-l1 test-img-col">
    <div class="row">
      <div class="col s12">
        <p>img goes here</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a href="/users/<%= currentUser.id %>/update">edit yo! profile</a>
      </div>
    </div>
  </div>
  <div class="col s12 l6">
    <div class="row">
      <div class="col s8 offset-s2">
        <h4>yo! top list</h4>
      </div>
      <div class="row">
        <div class="col s10 offset-s2">
          <% topFavos[0].forEach(function(favo) { %>
            <li>
              <a href="/favos/<%= favo.name %>"><%= favo.name %></a>: <%= favo.type %>
            </li>
          <% }); %>
        </div>
      </div>
    <div class="row">
      <div class="col s8 offset-s2">
        <a href="/users/<%= currentUser.id %>/profile">...Profile...</a>
      </div>
    </div>
  </div>
</div>


<!-- body content goes above here  -->

<% include ../partials/footer-content %>

<% include ../partials/footer %>
